body {
    font-family: serif;
    background-color: white;
    text-align: center;
}

.usuario {
    text-align: left;
    margin: 20px;
    font-weight: bold;
}

h1 {
    margin: 40px 0;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    padding: 6px 10px;
    text-align: left;
}

th {
    font-weight: bold;
}

input[type="text"] {
    width: 50px;
}

button {
    margin-top: 30px;
    padding: 5px 15px;
}
