html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  text-align: center;
}

.contenedor {
  text-align: left;
  width: 600px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: inline-block;
  width: 180px;
  font-size: 14px;
  margin-bottom: 4px;
}

#boton{
    margin-left: 200px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 320px;
  padding: 4px;
  font-size: 14px;
}

input[type="submit"] {
  font-size: 14px;
  padding: 6px 12px;
  margin-top: 10px;
}
